* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero-image {
  /* campfire.jfif image source https://source.unsplash.com/S_VbdMTsdiA */
  background-image: url("../images/campfire.jfif");
  background-color: #cccccc;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {

  text-align: center;
  position: absolute;
  top: 23%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;

}

.search-wrapper {
  display: flex
}


/* This CSS below in this notation is only needed if we want a fixed side navigation bar
header,
main,
footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {

  header,
  main,
  footer {
    padding-left: 0;
  }
}
*/