:root {
  background-image: url("../images/campfire.jfif");
  background-size: cover;
  background-attachment: fixed;
}

.hero-text {
  color: white;
  width: 75%;
}

h6 {
  font-size: 25px;
  padding: 15px;
}

#state-dropdown-menu {
  display: inline-block;
  width: 50%;
}

#province-dropdown-menu {
  display: inline-block;
  width: 50%;
}

label {
  font-size: 20px;
  color: white;
  padding: 10px;
}

.modal-checkbox-format {
  display: flex;
  flex-wrap: wrap;
}

.checkbox-format {
  display: flex;
  width: 100%;
  color: black;
}

p,
label {
  display: inline-block;
  padding: 0;
}

.yellow {
  background-color: yellow;
}

.camp-card{
  display: block;
}